<%= render :partial => @blog %>

<p id="notice"><%= notice %></p>

<div class="wrapper">

<div class="left">
  <%= render :partial => @post %>

  <div class="container">
    <%= link_to 'Editar', edit_post_path(@post) %> |
    <%= link_to 'Voltar', posts_path %>
  </div>
</div>

<div class="right">
  <%= render "sidebar" %>
</div>

</div>

<h2>Comentários</h2>
<div id="comments">
  <%= render :partial => @post.comments %>
</div>

<%= form_for [@post, Comment.new] do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Postar" %>
  </div>
<% end %>
