<%= render :partial => @blog %>

<div class="wrapper">

<div class="left">
  <%= render :partial => @posts %>
  <div class="container">
    <%= link_to 'Voltar', posts_path %>
  </div>
</div>

<div class="right">
  <%= render "sidebar" %>

  <%= render "pagination" %>
</div>

<span class="clear"></span>

</div>

<%= render "footer" %>
